@charset "utf-8";
/* CSS Document */

.bbb-meeting-attend,
.bbb-meeting-moderate,
.bbb-meeting-end,
#bbb-name-form .bbb-button{
  height: 50px;
  padding-left: 60px;
  background-repeat: no-repeat;
  background-position: left top;
  display: block;
  background-size: 50px 50px;
  vertical-align: middle;
  margin: 30px;
  padding-top: 14px;
  color: red;
  font-size: 16px;
  font-weight:bold;
}
#bbb-name-form .bbb-button{
  background-position: 10px 10px;
  padding-top: 24px;
  padding-left: 80px;
  padding-bottom:24px;
  height:auto;
  min-width:270px;
  text-align:left;
}
#bbb-name-form .bbb-button-attend,
.bbb-meeting-attend{
  background-image: url('images/attend.svg');
  color:#008000;
}
.bbb-meeting-attend a{
  color:#008000;
}
#bbb-name-form .bbb-button-moderate,
.bbb-meeting-moderate{
  background-image: url('images/moderate.svg');
  color:#f7973b;
}
.bbb-meeting-moderate a {
  color:#f7973b;
}
#bbb-name-form .bbb-button-end,
.bbb-meeting-end{
  background-image: url('images/end.svg');
  color:#ff0000;
}
.bbb-meeting-end a{
  color:#ff0000;
}
#bbb-name-form .bbb-button-attend::before{
  width:50px;
  height:50px;
  background-image: url('images/attend.svg');
}
.bbb-status-is-not-running .fa-circle{color:red;}
.bbb-status-is-running .fa-circle{color:green;}
